In [1]:



import os
import sys
import time
import numpy as np
import pandas as pd
import seaborn as sns
from pathlib import Path
import matplotlib.pyplot as plt 
from collections import defaultdict

In [2]:

sys.path.append("../")

In [3]:
from dd_package.data.dyslexia_data import DyslexiaData

In [4]:

dd = DyslexiaData(path="../../datasets/", )



demos = dd.get_demo_datasets()
ias = dd.get_ia_datasets()
fixs = dd.get_fix_datasets()

Loading Demo data:
  dyslexia (72, 9)
  norm (213, 9)
  risk (22, 9)
Loading IA_report data:
  dyslexia (12641, 17)
  risk (4148, 17)
  norm (38901, 17)
Loading Fixation report data:
  dyslexia (59770, 7)
  risk (26073, 7)
  norm (141468, 7)

In [5]:
demos["risk"]

,Group,SubjID,Sex,Grade,Age,IQ,Reading_speed,Sound_detection,Sound_change
0,3,m107,1,2,9,36,50.0,1.00,0.75
1,3,m108,2,4,10,34,85.0,0.95,0.79
2,3,m25,1,6,12,36,85.0,0.91,0.58
3,3,m29,2,6,12,34,95.0,0.91,0.95
4,3,m46,2,4,10,35,82.0,0.95,0.83
5,3,m47,2,5,12,33,79.0,0.91,0.91
6,3,m77,2,2,8,24,51.0,0.83,0.43
7,3,m96,2,2,8,35,46.0,0.91,0.70
8,3,s10,2,1,7,29,29.0,0.91,0.12
9,3,s105,2,2,9,33,51.0,0.83,0.58
10,3,s118,1,1,7,28,25.0,0.87,0.50
11,3,s120,2,2,9,31,47.0,0.83,0.79
12,3,s141,2,2,9,27,53.0,0.79,0.41
13,3,s163,2,6,12,30,94.0,0.87,0.66
14,3,s164,1,3,9,30,69.0,0.79,0.72
15,3,s17,1,1,7,21,28.0,0.83,0.16
16,3,s180,2,6,11,34,86.0,0.91,0.87
17,3,s25,1,1,7,30,25.0,0.85,0.58
18,3,s26,2,2,8,31,50.0,0.79,0.56
19,3,s29,2,1,6,27,29.0,0.87,0.70
20,3,s58,1,1,8,32,26.0,0.83,0.41
21,3,s71,2,5,11,31,77.0,0.83,0.70

In [ ]:

demo = dd.concat_classes_demo()

demo

In [ ]:
ia = dd.concat_classes_ia()

ia

In [ ]:
fix = dd.concat_classes_fix()

fix

In [ ]:


norms_d = set(demos["norm"].SubjID)
risks_d = set(demos["risk"].SubjID)
dyslexics_d = set(demos["dyslexia"].SubjID)



print(len(norms_d), len(risks_d), len(dyslexics_d),
      "Sum =", len(norms_d)+len(risks_d)+ len(dyslexics_d),
     )

In [ ]:




norms_f = set(fixs["norm"].SubjectID)
risks_f = set(fixs["risk"].SubjectID)
dyslexics_f = set(fixs["dyslexia"].SubjectID)



print(len(norms_f), len(risks_f), len(dyslexics_f),
      "Sum =", len(norms_f)+len(risks_f)+ len(dyslexics_f)
     )

In [ ]:





norms_i = set(ias["norm"].SubjectID)
risks_i = set(ias["risk"].SubjectID)
dyslexics_i = set(ias["dyslexia"].SubjectID)



print(len(norms_i), len(risks_i), len(dyslexics_i),
      "Sum =", len(norms_i)+len(risks_i)+ len(dyslexics_i)
     )

In [ ]:


norms_d.difference(norms_f)

In [ ]:

norms_d.difference(norms_i)

In [ ]:

norms_i.difference(norms_f)

In [ ]:


norms_f.difference(norms_d)

In [ ]:


norms_i.difference(norms_d)

In [ ]:



x =  {'m29', 'm47', 's163', 's180'}

for i in x:
    if i in dyslexics_i:
        print(i, "Fuck D")
    if  i in norms_i:
        print(i, "Fuck N")

In [ ]:




fix_demo = dd.concat_dfs(df1=demo, df2=fix, 
                         subject_ids=demo.SubjID,
                         features1=demo.columns[2:], 
                         features2=fix.columns
)

In [ ]:


fix_ia = dd.concat_dfs(df1=ia, df2=fix, 
                         subject_ids=demo.SubjID,
                         features1=ia.columns[2:5], 
                         features2=fix.columns
)

In [ ]:


fix.shape[0], fix_demo.shape[0]

In [ ]:

norms_i.difference(norms_d)

In [ ]:

norms_d.difference(norms_i)

In [ ]:

norms_f.difference(norms_d)

In [ ]:


from sklearn.model_selection import KFold, TimeSeriesSplit