In [1]:

import re
import numpy as np
import pandas as pd

In [2]:

data = {
    'sex': [1, 2, 1, 2, 1, 2], 
    'grade': [1, 1, 2, 2, 3, 4],
    'iq':[ 28, 30, 29, 31, 29, 28],
       }
data

{'sex': [1, 2, 1, 2, 1, 2],
 'grade': [1, 1, 2, 2, 3, 4],
 'iq': [28, 30, 29, 31, 29, 28]}

In [3]:

x = pd.DataFrame(data=data, columns=data.keys())
x

   sex  grade  iq
0    1      1  28
1    2      1  30
2    1      2  29
3    2      2  31
4    1      3  29
5    2      4  28

In [4]:

features = x.columns

features

Index(['sex', 'grade', 'iq'], dtype='object')

In [5]:

c_features = ['sex', 'grade']

c_features

['sex', 'grade']

In [21]:

x_dum = pd.get_dummies(x, columns=c_features, drop_first=False)
x_dum

   iq  sex_1  sex_2  grade_1  grade_2  grade_3  grade_4
0  28      1      0        1        0        0        0
1  30      0      1        1        0        0        0
2  29      1      0        0        1        0        0
3  31      0      1        0        1        0        0
4  29      1      0        0        0        1        0
5  28      0      1        0        0        0        1

In [22]:

features_dum = list(x_dum.columns)

features_dum

['iq', 'sex_1', 'sex_2', 'grade_1', 'grade_2', 'grade_3', 'grade_4']

In [29]:


sub_categories = {f:[] for f in features}

for f in c_features:
    pattern=re.compile(f) 
    str_match = [x for x in features_dum if re.search(f, x)]    
    sub_categories[f] = str_match 


sub_categories

{'sex': ['sex_1', 'sex_2'],
 'grade': ['grade_1', 'grade_2', 'grade_3', 'grade_4'],
 'iq': []}

In [24]:


x_dum_pp = {}

for k, v in sub_categories.items():
    if len(v) != 0:
        for vv in v:
            a = x_dum.loc[:, vv].values
            b = 1/len(v)
            c = a.ptp()        
            x_dum_pp[vv]= np.divide(a - b , c)
    else:
        a = x_dum.loc[:, k].values
        b = a.min()
        c = a.ptp()        
        x_dum_pp[k]= np.divide(a - b , c)

In [25]:

x_dum_pp

{'sex_1': array([ 0.5, -0.5,  0.5, -0.5,  0.5, -0.5]),
 'sex_2': array([-0.5,  0.5, -0.5,  0.5, -0.5,  0.5]),
 'grade_1': array([ 0.75,  0.75, -0.25, -0.25, -0.25, -0.25]),
 'grade_2': array([-0.25, -0.25,  0.75,  0.75, -0.25, -0.25]),
 'grade_3': array([-0.25, -0.25, -0.25, -0.25,  0.75, -0.25]),
 'grade_4': array([-0.25, -0.25, -0.25, -0.25, -0.25,  0.75]),
 'iq': array([0.        , 0.66666667, 0.33333333, 1.        , 0.33333333,
        0.        ])}

In [27]:

x_dum_pp_df = pd.DataFrame(data=x_dum_pp, )
x_dum_pp_df

   sex_1  sex_2  grade_1  grade_2  grade_3  grade_4        iq
0    0.5   -0.5     0.75    -0.25    -0.25    -0.25  0.000000
1   -0.5    0.5     0.75    -0.25    -0.25    -0.25  0.666667
2    0.5   -0.5    -0.25     0.75    -0.25    -0.25  0.333333
3   -0.5    0.5    -0.25     0.75    -0.25    -0.25  1.000000
4    0.5   -0.5    -0.25    -0.25     0.75    -0.25  0.333333
5   -0.5    0.5    -0.25    -0.25    -0.25     0.75  0.000000