In [1]:
import os
import sys
import time
import numpy as np
import pandas as pd

In [2]:
sys.path.append("../codes")

import utilities as util

# Load data

In [3]:
demo_xls = pd.ExcelFile("../data/demo.xlsx")
demo_norm = pd.read_excel(demo_xls,
                          "norm").sort_values(by=["SubjID"]).dropna()

demo_dyslexia = pd.read_excel(demo_xls, 
                              "dyslexia").sort_values(by=["SubjID"]).dropna()

demo_norm.shape, demo_dyslexia.shape

((217, 9), (72, 9))

In [4]:
demo = pd.concat([demo_dyslexia, demo_norm], axis=0)
demo.shape

(289, 9)

In [5]:
demo.replace({"fem": 1, "f": 1, "masc": -1, "m": -1}, inplace=True)

In [6]:
# demo_norm.describe()

In [7]:
demo_dyslexia.columns

Index(['Group', 'SubjID', 'Sex', 'Grade', 'Age', 'IQ', 'Reading_speed',
       'Sound_detection', 'Sound_change'],
      dtype='object')

In [8]:
demo_norm.columns

Index(['Group', 'SubjID', 'Sex', 'Grade', 'Age', 'IQ', 'Reading_speed',
       'Sound_detection', 'Sound_change'],
      dtype='object')

In [9]:
pd.get_dummies(demo, columns=["Sex"])

,Group,SubjID,Grade,Age,IQ,Reading_speed,Sound_detection,Sound_change,Sex_-1,Sex_1
0,dyslexia,ake05,3,9,35,38,0.958333,0.954545,0,1
1,dyslexia,asd17,4,10,34,57,0.875000,0.833333,1,0
2,dyslexia,bai24,1,7,28,6,0.708333,0.500000,1,0
3,dyslexia,eki26,1,8,35,6,0.750000,0.250000,0,1
4,dyslexia,fka11,2,9,32,48,0.833333,0.875000,1,0
...,...,...,...,...,...,...,...,...,...,...
160,norm,s94,4,10,36,154,0.910000,0.750000,0,1
161,norm,s95,5,12,35,156,0.910000,0.830000,1,0
162,norm,s96,5,11,32,121,1.000000,0.950000,1,0
163,norm,s97,4,11,30,133,0.830000,1.000000,1,0
202,norm,varya_norm1,1,7,34,56,1.000000,0.920000,0,1

In [10]:
ia_report_xls = pd.ExcelFile("../data/IA_report.xlsx")
ia_norm = pd.read_excel(ia_report_xls,
                        "norm").sort_values(
    by=["SubjectID", "Sentence_ID", "Word_Number",],
    axis=0).dropna()


ia_dyslexia = pd.read_excel(ia_report_xls,
                            "dyslexia").sort_values(
    by=["SubjectID", "Sentence_ID", "Word_Number",], axis=0).dropna()


ia_norm.shape, ia_dyslexia.shape

((50199, 17), (16200, 17))

In [11]:
ia_norm.columns

Index(['Group', 'SubjectID', 'Sentence_ID', 'Word_Number', 'QUESTION_ACCURACY',
       'FIXATION_COUNT', 'SKIP', 'TOTAL_READING_TIME',
       'FIRST_FIXATION_DURATION', 'FIRST_FIXATION_X', 'FIRST_FIXATION_Y',
       'FIRST_RUN_TOTAL_READING_TIME', 'FIRST_SACCADE_AMPLITUDE',
       'REGRESSION_IN', 'REGRESSION_OUT', 'REGRESSION_OUT_FULL',
       'REGRESSION_PATH_DURATION'],
      dtype='object')

In [12]:
_tmp_ = ia_dyslexia.loc[(ia_dyslexia["Sentence_ID"]== 26) 
                      & (ia_dyslexia["SubjectID"]=="m90")]
_tmp_

,Group,SubjectID,Sentence_ID,Word_Number,QUESTION_ACCURACY,FIXATION_COUNT,SKIP,TOTAL_READING_TIME,FIRST_FIXATION_DURATION,FIRST_FIXATION_X,FIRST_FIXATION_Y,FIRST_RUN_TOTAL_READING_TIME,FIRST_SACCADE_AMPLITUDE,REGRESSION_IN,REGRESSION_OUT,REGRESSION_OUT_FULL,REGRESSION_PATH_DURATION
0,dyslexia,m90,26,1,-1,2,0,925,613,169.59999999999999,503,613,.,1,0,0,613
1,dyslexia,m90,26,2,-1,4,0,1131,130,233.5,522,130,0.47999999999999998,0,1,1,1443
2,dyslexia,m90,26,3,-1,1,0,253,253,378.89999999999998,525.70000000000005,253,0.70999999999999996,0,0,0,253
3,dyslexia,m90,26,4,-1,6,0,1580,169,490.80000000000001,525.39999999999998,1580,1.5900000000000001,0,0,0,1580
4,dyslexia,m90,26,5,-1,5,0,1592,161,655.10000000000002,531.89999999999998,940,1.46,1,0,0,940
5,dyslexia,m90,26,6,-1,5,0,1575,220,934.20000000000005,542.20000000000005,1575,1.8200000000000001,0,1,1,2227
6,dyslexia,m90,26,7,-1,0,1,0,.,.,.,.,.,.,.,.,.

In [14]:
type(_tmp_.iloc[-1, :]["REGRESSION_PATH_DURATION"])

str

In [15]:
def remove_missing_data(df):
    for col in df.columns:
        try:
            df[col].replace({".": np.nan}, inplace=True)

        except Exception as e:
            print(e, "\n No missing values in", col)
    return df.dropna()

In [16]:
tmp = remove_missing_data(df=ia_norm)
tmp_ = remove_missing_data(df=ia_dyslexia)


tmp.shape, tmp_.shape

((37808, 17), (12641, 17))

In [17]:
tmp_.loc[(tmp_["SubjectID"]=="m90") & (tmp_["Sentence_ID"]==26)]

,Group,SubjectID,Sentence_ID,Word_Number,QUESTION_ACCURACY,FIXATION_COUNT,SKIP,TOTAL_READING_TIME,FIRST_FIXATION_DURATION,FIRST_FIXATION_X,FIRST_FIXATION_Y,FIRST_RUN_TOTAL_READING_TIME,FIRST_SACCADE_AMPLITUDE,REGRESSION_IN,REGRESSION_OUT,REGRESSION_OUT_FULL,REGRESSION_PATH_DURATION
1,dyslexia,m90,26,2,-1,4,0,1131,130,233.5,522,130,0.47999999999999998,0,1,1,1443
2,dyslexia,m90,26,3,-1,1,0,253,253,378.89999999999998,525.70000000000005,253,0.70999999999999996,0,0,0,253
3,dyslexia,m90,26,4,-1,6,0,1580,169,490.80000000000001,525.39999999999998,1580,1.5900000000000001,0,0,0,1580
4,dyslexia,m90,26,5,-1,5,0,1592,161,655.10000000000002,531.89999999999998,940,1.46,1,0,0,940
5,dyslexia,m90,26,6,-1,5,0,1575,220,934.20000000000005,542.20000000000005,1575,1.8200000000000001,0,1,1,2227

In [18]:
_tmp_

,Group,SubjectID,Sentence_ID,Word_Number,QUESTION_ACCURACY,FIXATION_COUNT,SKIP,TOTAL_READING_TIME,FIRST_FIXATION_DURATION,FIRST_FIXATION_X,FIRST_FIXATION_Y,FIRST_RUN_TOTAL_READING_TIME,FIRST_SACCADE_AMPLITUDE,REGRESSION_IN,REGRESSION_OUT,REGRESSION_OUT_FULL,REGRESSION_PATH_DURATION
0,dyslexia,m90,26,1,-1,2,0,925,613,169.59999999999999,503,613,.,1,0,0,613
1,dyslexia,m90,26,2,-1,4,0,1131,130,233.5,522,130,0.47999999999999998,0,1,1,1443
2,dyslexia,m90,26,3,-1,1,0,253,253,378.89999999999998,525.70000000000005,253,0.70999999999999996,0,0,0,253
3,dyslexia,m90,26,4,-1,6,0,1580,169,490.80000000000001,525.39999999999998,1580,1.5900000000000001,0,0,0,1580
4,dyslexia,m90,26,5,-1,5,0,1592,161,655.10000000000002,531.89999999999998,940,1.46,1,0,0,940
5,dyslexia,m90,26,6,-1,5,0,1575,220,934.20000000000005,542.20000000000005,1575,1.8200000000000001,0,1,1,2227
6,dyslexia,m90,26,7,-1,0,1,0,.,.,.,.,.,.,.,.,.

In [19]:
tmp = ia_dyslexia.loc[(ia_dyslexia["Sentence_ID"]== 26) 
                      & (ia_dyslexia["SubjectID"]=="m90")]
tmp.dropna()

,Group,SubjectID,Sentence_ID,Word_Number,QUESTION_ACCURACY,FIXATION_COUNT,SKIP,TOTAL_READING_TIME,FIRST_FIXATION_DURATION,FIRST_FIXATION_X,FIRST_FIXATION_Y,FIRST_RUN_TOTAL_READING_TIME,FIRST_SACCADE_AMPLITUDE,REGRESSION_IN,REGRESSION_OUT,REGRESSION_OUT_FULL,REGRESSION_PATH_DURATION
1,dyslexia,m90,26,2,-1,4,0,1131,130,233.5,522,130,0.47999999999999998,0,1,1,1443
2,dyslexia,m90,26,3,-1,1,0,253,253,378.89999999999998,525.70000000000005,253,0.70999999999999996,0,0,0,253
3,dyslexia,m90,26,4,-1,6,0,1580,169,490.80000000000001,525.39999999999998,1580,1.5900000000000001,0,0,0,1580
4,dyslexia,m90,26,5,-1,5,0,1592,161,655.10000000000002,531.89999999999998,940,1.46,1,0,0,940
5,dyslexia,m90,26,6,-1,5,0,1575,220,934.20000000000005,542.20000000000005,1575,1.8200000000000001,0,1,1,2227

In [20]:
tmp.shape

(7, 17)

In [21]:
ia_norm.columns

Index(['Group', 'SubjectID', 'Sentence_ID', 'Word_Number', 'QUESTION_ACCURACY',
       'FIXATION_COUNT', 'SKIP', 'TOTAL_READING_TIME',
       'FIRST_FIXATION_DURATION', 'FIRST_FIXATION_X', 'FIRST_FIXATION_Y',
       'FIRST_RUN_TOTAL_READING_TIME', 'FIRST_SACCADE_AMPLITUDE',
       'REGRESSION_IN', 'REGRESSION_OUT', 'REGRESSION_OUT_FULL',
       'REGRESSION_PATH_DURATION'],
      dtype='object')

In [22]:
ia_dyslexia.columns

Index(['Group', 'SubjectID', 'Sentence_ID', 'Word_Number', 'QUESTION_ACCURACY',
       'FIXATION_COUNT', 'SKIP', 'TOTAL_READING_TIME',
       'FIRST_FIXATION_DURATION', 'FIRST_FIXATION_X', 'FIRST_FIXATION_Y',
       'FIRST_RUN_TOTAL_READING_TIME', 'FIRST_SACCADE_AMPLITUDE',
       'REGRESSION_IN', 'REGRESSION_OUT', 'REGRESSION_OUT_FULL',
       'REGRESSION_PATH_DURATION'],
      dtype='object')

In [23]:
fixation_xls = pd.ExcelFile("../data/Fixation_report.xlsx")

fixation_norm = pd.read_excel(fixation_xls, 
                              "norm").sort_values(
    by=["SubjectID", "Sentence_ID", "Word_Number",], axis=0).dropna()

fixation_dyslexia = pd.read_excel(fixation_xls, 
                                  "dyslexia").sort_values(
    by=["SubjectID", "Sentence_ID", "Word_Number",], axis=0).dropna()

fixation_norm.shape, fixation_dyslexia.shape

((142528, 7), (59770, 7))

In [24]:
fixation_norm.describe()

,Sentence_ID,Word_Number,FIX_X,FIX_Y,FIX_DURATION
count,142528.000000,142528.000000,142528.000000,142528.000000,142528.000000
mean,18.457075,4.324778,62200.372979,53692.552130,247.332279
std,8.493821,2.174349,30179.840666,2652.628542,188.478965
min,4.000000,1.000000,11900.000000,33070.000000,1.000000
25%,11.000000,2.000000,36420.000000,52120.000000,148.000000
50%,19.000000,4.000000,59860.000000,53610.000000,205.000000
75%,26.000000,6.000000,87100.000000,55200.000000,299.000000
max,33.000000,9.000000,146820.000000,73020.000000,9780.000000

In [25]:
fixation_dyslexia.describe()

        Sentence_ID   Word_Number         FIX_X         FIX_Y  FIX_DURATION
count  59770.000000  59770.000000  59770.000000  59770.000000  59770.000000
mean      18.625314      4.287050    617.302438    531.517989    329.553790
std        8.475586      2.171418    301.446888     18.852828    216.756766
min        4.000000      1.000000    119.100000    480.000000      1.000000
25%       12.000000      2.000000    358.400000    518.900000    191.000000
50%       19.000000      4.000000    590.800000    531.800000    270.000000
75%       26.000000      6.000000    862.375000    544.800000    405.000000
max       33.000000      9.000000   1464.000000    574.900000   4148.000000

In [26]:
fixation_dyslexia

,Group,SubjectID,Sentence_ID,Word_Number,FIX_X,FIX_Y,FIX_DURATION
8260,dyslexia,ake05,4,1,167.0,554.9,216
8262,dyslexia,ake05,4,1,161.0,560.2,162
8261,dyslexia,ake05,4,2,201.8,562.7,420
8263,dyslexia,ake05,4,2,225.0,560.3,299
8265,dyslexia,ake05,4,2,216.2,562.9,393
...,...,...,...,...,...,...,...
10422,dyslexia,zrs09,33,5,743.3,562.7,160
10425,dyslexia,zrs09,33,5,772.5,555.8,193
10426,dyslexia,zrs09,33,5,941.7,561.9,219
10427,dyslexia,zrs09,33,5,831.8,548.8,144
10420,dyslexia,zrs09,33,6,988.0,545.6,182

In [27]:
fixation_norm.columns

Index(['Group', 'SubjectID', 'Sentence_ID', 'Word_Number', 'FIX_X', 'FIX_Y',
       'FIX_DURATION'],
      dtype='object')

In [28]:
fixation_dyslexia.columns

Index(['Group', 'SubjectID', 'Sentence_ID', 'Word_Number', 'FIX_X', 'FIX_Y',
       'FIX_DURATION'],
      dtype='object')